<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{101,105}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,105}</string>
                <key>textureRect</key>
                <string>{{96,1},{86,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,47}</string>
                <key>spriteSourceSize</key>
                <string>{81,55}</string>
                <key>textureRect</key>
                <string>{{181,344},{73,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{1,232},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{93,162},{65,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_left_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,88}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{91,296},{69,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_left_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{185,171},{65,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{96,89},{71,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{1,165},{65,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_right_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{1,92},{71,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_right_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,90}</string>
                <key>spriteSourceSize</key>
                <string>{75,100}</string>
                <key>textureRect</key>
                <string>{{93,229},{65,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{230,344},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{50,339},{22,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{50,303},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mEnemy_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,32}</string>
                <key>spriteSourceSize</key>
                <string>{63,40}</string>
                <key>textureRect</key>
                <string>{{95,367},{55,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mEnemy_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{191,59},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mEnemy_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{188,115},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mEnemy_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{191,1},{56,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mEnemy_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{185,263},{54,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sEnemy_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{67,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,25}</string>
                <key>textureRect</key>
                <string>{{181,319},{67,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sEnemy_left1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{129,367},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sEnemy_left2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{1,367},{55,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sEnemy_right1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,303},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sEnemy_right2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,45}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{48,367},{55,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{251,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:740b9f0deec1f51d997d9c7b0e7d7a91:33bf68d74936d9d6ccdde3ce8bc855d0:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
