<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RPGBbullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{1,141},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RPG_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{75,32}</string>
                <key>textureRect</key>
                <string>{{137,1},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RPG_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,32}</string>
                <key>spriteSourceSize</key>
                <string>{75,32}</string>
                <key>textureRect</key>
                <string>{{175,86},{75,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{175,1},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{127,106},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gunBullet .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,17}</string>
                <key>spriteSourceSize</key>
                <string>{31,17}</string>
                <key>textureRect</key>
                <string>{{23,141},{31,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>handGun_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{56,27}</string>
                <key>textureRect</key>
                <string>{{69,108},{56,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>handGun_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{56,27}</string>
                <key>textureRect</key>
                <string>{{98,108},{56,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rifleGun_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,32}</string>
                <key>spriteSourceSize</key>
                <string>{103,32}</string>
                <key>textureRect</key>
                <string>{{103,1},{103,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rifleGun_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,32}</string>
                <key>spriteSourceSize</key>
                <string>{105,32}</string>
                <key>textureRect</key>
                <string>{{69,1},{105,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shotGun_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,30}</string>
                <key>spriteSourceSize</key>
                <string>{73,30}</string>
                <key>textureRect</key>
                <string>{{171,54},{73,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shotGun_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,30}</string>
                <key>spriteSourceSize</key>
                <string>{73,30}</string>
                <key>textureRect</key>
                <string>{{209,86},{73,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sniperGun_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,32}</string>
                <key>spriteSourceSize</key>
                <string>{138,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sniperGun_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,32}</string>
                <key>spriteSourceSize</key>
                <string>{138,32}</string>
                <key>textureRect</key>
                <string>{{35,1},{138,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weapon.png</string>
            <key>size</key>
            <string>{245,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba46c803067be37541a502b990da31ef:0404f9a284b63b4b269147ea2d6cc5e2:f56027bfb88798a33d33ff61c031c331$</string>
            <key>textureFileName</key>
            <string>weapon.png</string>
        </dict>
    </dict>
</plist>
